In [1]:
import pandas as pd

# Đường dẫn đến file Excel của bạn
path_to_excel1 = './all_data/BTC_USD.xlsx'
path_to_excel2 = './all_data/FEDFUNDS.xlsx'
path_to_excel3 = './all_data/Gold.xlsx'

# Đọc file Excel
df1 = pd.read_excel(path_to_excel1)
df2 = pd.read_excel(path_to_excel2)
df3 = pd.read_excel(path_to_excel3)

In [2]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4937 entries, 0 to 4936
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      4937 non-null   int64
 1   Price     4937 non-null   object
 2   Open      4937 non-null   object
 3   High      4937 non-null   object
 4   Low       4937 non-null   object
 5   Vol.      4937 non-null   object
 6   Change %  4937 non-null   object
dtypes: int64(1), object(6)
memory usage: 270.1+ KB

In [3]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3453 entries, 0 to 3452
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3453 non-null   int64
 1   Gold    3453 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 54.1 KB

In [4]:
df3.head()

    Date       Gold
0  45313  2026.7500
1  45312  2029.6244
2  45311  2029.6244
3  45310  2029.6244
4  45309  2023.1038

In [5]:
df3 = df3.sort_values(by='Date')

print(df3)

       Date       Gold
3452  40377  1204.7500
3451  40378  1190.2500
3450  40379  1181.5000
3449  40380  1191.2500
3448  40381  1187.0000
...     ...        ...
4     45309  2023.1038
3     45310  2029.6244
2     45311  2029.6244
1     45312  2029.6244
0     45313  2026.7500

[3453 rows x 2 columns]

In [6]:
lower_limit = 40377
upper_limit = 45313

all_numbers = pd.Series(range(lower_limit, upper_limit + 1), name='Date')

df3 = df3.set_index('Date').reindex(all_numbers).ffill().reset_index()

# Hiển thị DataFrame sau khi tạo các hàng mới
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4937 entries, 0 to 4936
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    4937 non-null   int64
 1   Gold    4937 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 77.3 KB

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      162 non-null    int64
 1   FEDFUNDS  162 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 2.7 KB

In [8]:
lower_limit = 40377
upper_limit = 45313

all_numbers = pd.Series(range(lower_limit, upper_limit + 1), name='Date')

df2 = df2.set_index('Date').reindex(all_numbers).ffill().reset_index()

# Hiển thị DataFrame sau khi tạo các hàng mới
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4937 entries, 0 to 4936
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      4937 non-null   int64
 1   FEDFUNDS  4937 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 77.3 KB

In [9]:
print(df2)

       Date  FEDFUNDS
0     40377      0.18
1     40378      0.18
2     40379      0.18
3     40380      0.18
4     40381      0.18
...     ...       ...
4932  45309      5.33
4933  45310      5.33
4934  45311      5.33
4935  45312      5.33
4936  45313      5.33

[4937 rows x 2 columns]

In [10]:
print(df1)

       Date     Price      Open      High       Low    Vol. Change %
0     45313  40,825.8  41,581.7  41,684.9  40,711.9  30.31K   -1.82%
1     45312  41,583.2  41,695.4  41,878.0  41,504.5  16.11K   -0.27%
2     45311  41,695.4  41,647.6  41,858.0  41,449.5  22.27K    0.11%
3     45310  41,648.0  41,293.8  42,164.6  40,305.4  72.64K    0.86%
4     45309  41,292.7  42,763.5  42,908.0  40,682.6  70.35K   -3.45%
...     ...       ...       ...       ...       ...     ...      ...
4932  40381       0.1       0.1       0.1       0.1   2.16K    0.00%
4933  40380       0.1       0.1       0.1       0.1   0.58K    0.00%
4934  40379       0.1       0.1       0.1       0.1   0.26K    0.00%
4935  40378       0.1       0.1       0.1       0.1   0.57K    0.00%
4936  40377       0.1       0.0       0.1       0.1   0.08K    0.00%

[4937 rows x 7 columns]

In [11]:
df1 = df1.sort_values(by='Date')

print(df1)

       Date     Price      Open      High       Low    Vol. Change %
4936  40377       0.1       0.0       0.1       0.1   0.08K    0.00%
4935  40378       0.1       0.1       0.1       0.1   0.57K    0.00%
4934  40379       0.1       0.1       0.1       0.1   0.26K    0.00%
4933  40380       0.1       0.1       0.1       0.1   0.58K    0.00%
4932  40381       0.1       0.1       0.1       0.1   2.16K    0.00%
...     ...       ...       ...       ...       ...     ...      ...
4     45309  41,292.7  42,763.5  42,908.0  40,682.6  70.35K   -3.45%
3     45310  41,648.0  41,293.8  42,164.6  40,305.4  72.64K    0.86%
2     45311  41,695.4  41,647.6  41,858.0  41,449.5  22.27K    0.11%
1     45312  41,583.2  41,695.4  41,878.0  41,504.5  16.11K   -0.27%
0     45313  40,825.8  41,581.7  41,684.9  40,711.9  30.31K   -1.82%

[4937 rows x 7 columns]

In [12]:
df1 = df1.applymap(lambda x: x.replace(',', '') if isinstance(x, str) else x)
df1 = df1.applymap(lambda x: x.replace('K', '') if isinstance(x, str) else x)
df1 = df1.applymap(lambda x: x.replace('%', '') if isinstance(x, str) else x)
df1 = df1.applymap(lambda x: x.replace('M', '') if isinstance(x, str) else x)
df1 = df1.applymap(lambda x: x.replace('B', '') if isinstance(x, str) else x)

print(df1)

       Date    Price     Open     High      Low   Vol. Change %
4936  40377      0.1      0.0      0.1      0.1   0.08     0.00
4935  40378      0.1      0.1      0.1      0.1   0.57     0.00
4934  40379      0.1      0.1      0.1      0.1   0.26     0.00
4933  40380      0.1      0.1      0.1      0.1   0.58     0.00
4932  40381      0.1      0.1      0.1      0.1   2.16     0.00
...     ...      ...      ...      ...      ...    ...      ...
4     45309  41292.7  42763.5  42908.0  40682.6  70.35    -3.45
3     45310  41648.0  41293.8  42164.6  40305.4  72.64     0.86
2     45311  41695.4  41647.6  41858.0  41449.5  22.27     0.11
1     45312  41583.2  41695.4  41878.0  41504.5  16.11    -0.27
0     45313  40825.8  41581.7  41684.9  40711.9  30.31    -1.82

[4937 rows x 7 columns]

In [13]:
null_rows = df1[df1.isnull().any(axis=1)]

# Hiển thị kết quả
print("Các hàng có giá trị null:")
print(null_rows)

Các hàng có giá trị null:
Empty DataFrame
Columns: [Date, Price, Open, High, Low, Vol., Change %]
Index: []

In [14]:
df1[['Price', 'Open', 'High', 'Low', 'Vol.', 'Change %']] = df1[['Price', 'Open', 'High', 'Low', 'Vol.', 'Change %']].apply(pd.to_numeric, errors='coerce')
print(df1)

       Date    Price     Open     High      Low   Vol.  Change %
4936  40377      0.1      0.0      0.1      0.1   0.08      0.00
4935  40378      0.1      0.1      0.1      0.1   0.57      0.00
4934  40379      0.1      0.1      0.1      0.1   0.26      0.00
4933  40380      0.1      0.1      0.1      0.1   0.58      0.00
4932  40381      0.1      0.1      0.1      0.1   2.16      0.00
...     ...      ...      ...      ...      ...    ...       ...
4     45309  41292.7  42763.5  42908.0  40682.6  70.35     -3.45
3     45310  41648.0  41293.8  42164.6  40305.4  72.64      0.86
2     45311  41695.4  41647.6  41858.0  41449.5  22.27      0.11
1     45312  41583.2  41695.4  41878.0  41504.5  16.11     -0.27
0     45313  40825.8  41581.7  41684.9  40711.9  30.31     -1.82

[4937 rows x 7 columns]

In [15]:
null_rows = df1[df1.isnull().any(axis=1)]

# Hiển thị kết quả
print("Các hàng có giá trị null:")
print(null_rows)

Các hàng có giá trị null:
Empty DataFrame
Columns: [Date, Price, Open, High, Low, Vol., Change %]
Index: []

In [16]:
from functools import reduce

dfs = [df1, df2, df3]  

# Hợp nhất các DataFrame theo cột 'Date'
df = reduce(lambda left, right: pd.merge(left, right, on='Date', how='outer'), dfs)

# Hiển thị DataFrame sau khi hợp nhất
print(df)

       Date    Price     Open     High      Low   Vol.  Change %  FEDFUNDS  \
0     40377      0.1      0.0      0.1      0.1   0.08      0.00      0.18
1     40378      0.1      0.1      0.1      0.1   0.57      0.00      0.18
2     40379      0.1      0.1      0.1      0.1   0.26      0.00      0.18
3     40380      0.1      0.1      0.1      0.1   0.58      0.00      0.18
4     40381      0.1      0.1      0.1      0.1   2.16      0.00      0.18
...     ...      ...      ...      ...      ...    ...       ...       ...
4932  45309  41292.7  42763.5  42908.0  40682.6  70.35     -3.45      5.33
4933  45310  41648.0  41293.8  42164.6  40305.4  72.64      0.86      5.33
4934  45311  41695.4  41647.6  41858.0  41449.5  22.27      0.11      5.33
4935  45312  41583.2  41695.4  41878.0  41504.5  16.11     -0.27      5.33
4936  45313  40825.8  41581.7  41684.9  40711.9  30.31     -1.82      5.33

           Gold
0     1204.7500
1     1190.2500
2     1181.5000
3     1191.2500
4     1187.0000
...         ...
4932  2023.1038
4933  2029.6244
4934  2029.6244
4935  2029.6244
4936  2026.7500

[4937 rows x 9 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4937 entries, 0 to 4936
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      4937 non-null   int64
 1   Price     4937 non-null   float64
 2   Open      4937 non-null   float64
 3   High      4937 non-null   float64
 4   Low       4937 non-null   float64
 5   Vol.      4937 non-null   float64
 6   Change %  4937 non-null   float64
 7   FEDFUNDS  4937 non-null   float64
 8   Gold      4937 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 347.3 KB

In [18]:
df['Gold'] = df['Gold'].apply(pd.to_numeric, errors='coerce')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4937 entries, 0 to 4936
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      4937 non-null   int64
 1   Price     4937 non-null   float64
 2   Open      4937 non-null   float64
 3   High      4937 non-null   float64
 4   Low       4937 non-null   float64
 5   Vol.      4937 non-null   float64
 6   Change %  4937 non-null   float64
 7   FEDFUNDS  4937 non-null   float64
 8   Gold      4937 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 347.3 KB

In [20]:
print(df)

       Date    Price     Open     High      Low   Vol.  Change %  FEDFUNDS  \
0     40377      0.1      0.0      0.1      0.1   0.08      0.00      0.18
1     40378      0.1      0.1      0.1      0.1   0.57      0.00      0.18
2     40379      0.1      0.1      0.1      0.1   0.26      0.00      0.18
3     40380      0.1      0.1      0.1      0.1   0.58      0.00      0.18
4     40381      0.1      0.1      0.1      0.1   2.16      0.00      0.18
...     ...      ...      ...      ...      ...    ...       ...       ...
4932  45309  41292.7  42763.5  42908.0  40682.6  70.35     -3.45      5.33
4933  45310  41648.0  41293.8  42164.6  40305.4  72.64      0.86      5.33
4934  45311  41695.4  41647.6  41858.0  41449.5  22.27      0.11      5.33
4935  45312  41583.2  41695.4  41878.0  41504.5  16.11     -0.27      5.33
4936  45313  40825.8  41581.7  41684.9  40711.9  30.31     -1.82      5.33

           Gold
0     1204.7500
1     1190.2500
2     1181.5000
3     1191.2500
4     1187.0000
...         ...
4932  2023.1038
4933  2029.6244
4934  2029.6244
4935  2029.6244
4936  2026.7500

[4937 rows x 9 columns]

In [21]:
df.to_excel('alldata.xlsx', index=False)